:root {
    --primary-color: #76c6c7;
    --secondary-color: #374E6E;
    --header-font: 36px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: helvetica, arial, sans-serif;
}

/* Styling Header */
header {
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-between;
    background-color: black;
    padding: 20px 0px;
}

header h1 {
    background-color: var(--primary-color);
    font-size: 50px;
    font-weight: bold;
    padding: 10px 10px 10px 50px;
}

header a {
    color: var(--primary-color);
    text-decoration: none;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}

header ul li a {
    padding: 10px 15px;
    font-size: 26px;
    border-bottom: 5px solid var(--primary-color);
    margin: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Styling Hero */
.hero {
    background-image: url(./images/hero-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    justify-content: space-between;
}

.subtitle {
    background-color: var(--primary-color);
    padding: 20px;
    margin-right: 0px;
    justify-self: flex-end;
    align-self: flex-end;
}

.my-pic {
    background-color: var(--primary-color);
    align-self: center;
    border: 1px solid var(--primary-color);
    margin: 26px;
    width: 155px;
    height: auto;
    border-radius: 50%;
    display: block;   
}

.about-me {
    display: flex;
    height: auto;
    flex-wrap: wrap;

}

.about-me div {
    padding: 10px 10px 100px 50px; 
}

.left-aligned {
    margin: 50px 100px auto 100px;
    color: var(--secondary-color);
    border-right: 5px solid var(--secondary-color);
    font-size: var(--header-font);
    text-align: right;
}

.about-me p {
    width: 60%;
    margin-top: 50px;
    flex: 1 30%;
}

.projects {
    display: flex;
    flex-wrap: row wrap;
    height: auto;
    max-width: 100%;
    justify-content: space-between;
}

#my-work-title {
    padding: 10px 23px 1080px 60px;
}

.work-links {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work-links nav {
    flex: 1 0 40%;
    max-width: 100%;
    height: 250px;
    border: 5px solid var(--primary-color);
    margin: 10px;
    position: relative;
}



#big-img {
    flex: 1 0 90%;
    justify-self: center;
    height: 600px;
}

.work-links img {
    object-fit: fill;
    width: 100%;
    height: 100%;
    opacity: 60%;
}

.work-links img:hover {
    opacity: 100%;
}

.work-links nav div {
    position: absolute;
    background-color: var(--primary-color);
    z-index: 1;
    bottom: 10px;
    font-size: 30px;
}

.bottom-txt {
    font-size: 15px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-between;
    align-content: center;
}

footer div {
    padding: 10px 10px 50px 7px; 
    display: flex;
    flex-wrap: wrap;
}

footer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    align-content: center;
    justify-content: space-around;
    flex: 1 1 80px;
}

footer ul li {
    margin: 3px;
}

footer ul li a {
    text-decoration: none;
    color: black;
    margin: 20px;
    font-size: 26px;
    border-bottom: 5px solid var(--secondary-color);
}

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header ul {
        margin: 20px;
        width: 100%;
        justify-content: center;
    }

    header ul li a {
        padding: 1px;
        font-size: 26px;
        margin: 10px;
    }

    header ul li {
        margin: 3px;
    }

    footer ul {
        margin-right: 0;
    }
    
    
}

@media screen and (max-width: 780px) {   
    #my-work-title {
        text-align: center;
        padding: 10px 20px 10px 20px;
    }

    .projects {
        flex-direction: column;
        align-content: center;
    }

    .left-aligned{
        border-bottom: 5px solid var(--secondary-color);
        text-align: center;
        border-right: none;
    }

    .about-me {
        flex-direction: column;
        align-content: center;
    }

    .about-me div {
        padding: 10px 20px 10px 20px;
        display: inline-block;
    }

    .about-me p {
        text-align: center;
        margin: 10px 20px 10px 20px;
        width: 90%;
    }

    header ul li a {
        padding: 1px;
        font-size: 20px;
        border-bottom: 2px solid var(--primary-color);
        margin: 10px;
    }

    footer {
        flex-direction: column;
        margin: 0;
        text-align: center;
    }

    footer div {
        padding: 10px 20px 10px 20px;
        max-width: 100%;
        text-align: center;
    }

    footer h1 {
        text-align: center;
        max-width: 100%;
    }

    .hide {
        display: none;
    }
    
    footer ul li{
        margin: 5px;
    }
}


/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .left-aligned{
        border-bottom: 5px solid var(--secondary-color);
        text-align: center;
        border-right: none;
    }

    header ul li a {
        padding: 1px;
        font-size: 26px;
        margin: 10px;
    }

    header {
        flex-direction: column;
        align-content: center;
        padding: 20px;
    }

    #my-work-title {
        text-align: center;
        padding: 10px 20px 10px 20px;
    }

    .my-pic {
        margin: 0;
    }

    .about-me {
        flex-direction: column;
        align-content: center;
    }

    .about-me div {
        padding: 10px 20px 10px 20px;
        display: inline-block;
    }

    .about-me p {
        text-align: center;
        margin-right: 0;
        padding: 0;
    }

    .projects {
        flex-direction: column;
        align-content: center;
    }

    .work-links {
        flex-direction: column;
        align-content: center;
    }

    footer {
        flex-direction: column;
        margin: 0;
    }

    footer div {
        padding: 10px 20px 10px 20px;
        max-width: 70%;
        text-align: center;
    }
    
    footer ul {
        margin: 5px;
    }
}
